body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 1px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

#level-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 34%;

}

#level-2 {

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 34%;
}

#level-2 .peas {
  grid-column: 1 / span 2 ;

}

#level-3 {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%
}

#level-3 .onions {
  grid-column: 2 /span 3;

}

#level-3 .tomatoes {
  grid-column: 1 / span 2;
}

#level-3 .carrots {
  grid-column: 1 / span 3;
}

#level-4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

#level-4 .peas {
  grid-column: 1 / span 2;
  grid-row: 1 
}

#level-4 .onions {
  grid-column: 3 ;
  grid-row: 1 / span 2;
}
#level-4 .carrots {
  grid-column: 4 ;
  grid-row: 1 / span 2;

}

#level-5 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33% 34% 33%;
}

#level-5 .carrots {
  grid-column: 1;
  grid-row: 1 / span 3;
}

#level-5 .onions {
  grid-column: 3;
  grid-row: 1 / span 2;
}

#level-5 .tomatoes {
  
  grid-column: 2 / span 3 ;
}

#level-5 .peas {
  grid-column: 4 / span 5 ;
  grid-row: 2
}

#level-5 .lettuce {
  grid-column: 5 ;
  grid-row: 1 ;
}

#level-6 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
}

#level-6 .carrots {
  grid-column: 1 / span 5 ;
  grid-row: 1;
}

#level-6 .oinions {
  grid-column: 1;
  grid-row: 2 / span 2;
}

#level-6 .peas {
  grid-column: 2 / span 3 ;
  grid-row: 2 / span 2 ;
}

#level-6 .lettuce {
  grid-column: 1 / span 5
}